<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="okta:OrganizationSubDomain" value="example.oktapreview.com"/>
    <add key="okta:ClientId" value="ViczvMucBWT14qg3lAM1"/>
    <add key="okta:RedirectUri" value="http://localhost:8080"/>
    <!-- OpenID Connect scopes-->
    <add key="okta:Scopes" value="openid email phone address profile groups"/>
    <!-- Valid response type values are "id_token", "token" or "id_token token" -->
    <add key="okta:ResponseType" value="id_token"/>
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="Microsoft.IdentityModel" value="Verbose" />
    </switches>
  </system.diagnostics>
</configuration>